<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add-post">Add-post</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/contacts">Contacts</a></li>
    </ul>
</header>

