<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <ul>
       <% if (contacts.length) {  %>
           <% contacts.forEach(({link, name}) => { %>
               <li> 
                 <a href="<%= link %>"><%= name %></a>
               </li>
           <% }); %> <!-- Вот пропущенный закрывающий тег %>-->
       <% } %>
    </ul>
    
</body>
</html>


